{% extends "base.html" %}

{% block content %}

    <h1>NYU DevOps Scheduler</h1>
    <p>
        Welcome to the NYU DevOps Scheduler web app home page! Feel free to take a look at our <a href="https://github.com/gcallah/Scheduler">our source code.</a>
    </p>
    <p> For now, the rooms will be inserted on the back-end, but a form similar to the one below may be created! </p>
    <p> Comments? Suggestions? Feel free to leave <a href="/scheduler/feedback">feedback.</a>

    <br><br>

    <h1>Course Schedule Form</h1>
    
    <form role="form" action="{% url 'scheduler:schedule' %}" method="post">
        {% csrf_token %}
		
		<p>Select which courses to schedule.</p>
        <br><br>
        
    <table>  
        <tr>
                <th></th>
                <th>Course Name</th>
                <th>Capacity</th>
        </tr>         
    {% for course in course_list %}

        <tr>
            <td> 
                <select name={{course.cname}}>
                    <option value="0"> 0 </option>
                    <option value="1"> 1 </option>
                </select>
            </td>
            <td>{{ course.cname }}</td>
            <td>{{ course.capacity }}</td>
        </tr>
    
    {% endfor %}
    </table>    
        <br>

        <input type="submit" value = "Schedule">
    </form>

{% endblock content %}