{% extends "base.html" %}

{% block content %}
	
	<h1>Proposed Schedule</h1>

	<table style="width:60%">
		<tr>
			<th> Course Name </th>
			<th> Course Time </th>
			<th> Course Capacity</th>
			<th> Room </th>
			<th> Room Capacity </th>
		</tr>
		<!-- {% for key, value in dictionary.items %}
			<tr>
				<td>{{key}}</td>
	    		<td>{{value}}</td>
	    	</tr>
		{% endfor %} -->
		{% for scheduled_course in scheduled %}
			<tr>
				<td> {{ scheduled_course.cname }} </td> 
				<td> {{ scheduled_course.start_time }} - {{ scheduled_course.end_time }} </td>
				<td> {{ scheduled_course.course_capacity }} </td>
				<td> {{ scheduled_course.rname }} </td>
				<td> {{ scheduled_course.room_capacity }} </td>
			</tr>
		{% endfor %}
	</table>

	{% if unscheduled %}
		<p> Failed to schedule: </p>
		{% for item in unscheduled %}
			<p>{{item}}</p>
		{% endfor %}
	{% endif %}

{% endblock content %}
