{% extends "base.html" %}

{% block content %}
	
	<div class="schedule">
		<h4>Proposed Schedule</h4>

		<table>
			<tr>
				<th> Need Reschedule? </th>
				<th> Course Name </th>
				<th> Course Time </th>
				<th> Course Capacity</th>
				<th> Room </th>
				<th> Room Capacity </th>
			</tr>
			{% for scheduled_course in scheduled %}
				<tr>
					<td> <input type="checkbox" /> </td>
					<td> {{ scheduled_course.cname }} </td> 
					<td> {{ scheduled_course.day_of_week }} : {{ scheduled_course.start_time }} - {{ scheduled_course.end_time }} </td>
					<td> {{ scheduled_course.course_capacity }} </td>
					<td> {{ scheduled_course.rname }} </td>
					<td> {{ scheduled_course.room_capacity }} </td>
				</tr>
			{% endfor %}
		</table>
		<input type="submit" value="Reschedule Checked Courses" />	
	</div>
	

	{% if unscheduled %}
		<h4> Failed to schedule: </h4>
		<ul class="errors"> 
		{% for item in unscheduled %}
			<li>{{item}}</li>
		{% endfor %}
		</ul>
	{% endif %}
	<br/>
	<a class="back" href="{% url 'scheduler:index' %}">Back Home</a>
{% endblock content %}
